$backgroundMain: #FDFDFC;
$backgroundPrimary: #F8F8F8;
$backgroundSecondary: #d4cfcf;
$backgroundInactive: #e2e2e2;
$textPrimary: #1b1b18;
$textSecondary: #626262;
$borderPrimary: #c3c0c0;
$orange: #faa700;