$backgroundMain: #FDFDFC;
$backgroundPrimary: #F8F8F8;
$backgroundSecondary: #f2f2f2;
$backgroundInactive: #e2e2e2;
$textPrimary: #1b1b18;
$textSecondary: #626262;
$borderPrimary: #c3c0c0;
$borderPrimaryHover: #7d7d7d;
$orange: #faa700;
$test1: #CFE900;
$green: #CFE900;
$test2: #1D532D;
$test3: #D9F478;
$test5: #1D861B;
$test6: #4B9D1B;