@use '../base' as *; 

.games {

    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 24px;

    .round {
        padding: 8px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        box-shadow: 0 8px 32px 0 rgba(51, 38, 174, 0.08);    
        min-width: 300px;    

        h4 {
            width: 100%;
            text-align: center;
            font-weight: 600;
        }
    }    

    .game {
        background-color: $backgroundSecondary;
        border-radius: 4px;
        display: flex;
        margin-top: 20px;

        &__team {

            padding: 16px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 8px;            
            flex: 1;
        }

        &__player {
            &--left {
                text-align: left;
            }

            &--right {
                text-align: right;
            }
        }

        &__score {
            position: absolute;
            background-color: black;
            color: white;
            width: 40px;
            height: 40px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            top: -20px;

            &--left {   
                right: 5px;
            }   

            &--right {
                left: 5px;
            }            
        }



        &__delete {
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
        }
    }    

}