header {

    padding: 16px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: flex-end;
    }

}