@use '../base' as *; 

.leaderboard {
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: center;

    &__items {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 450px;
    }

    &__item {
        background-color: $backgroundSecondary;
        padding: 8px 16px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        font-weight: 600;

        &:hover {
            background-color: $lightGreen;
        }
    }
}


@media (max-width: $mediaMobile) {
    .leaderboard {
        &__items {
            width: 100%;
        }                
    }
}  
