@use '../base' as *; 

.players {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    .player {    
        border-radius: 8px;
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
        background-color: $backgroundPrimary;

        &__title {
            font-size: 18px;
            font-weight: 600;
        }

        &__link {
            text-decoration: underline;
        }
    }    
}

.player-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
