@use '../base' as *; 

.tournaments {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.tournament {
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: $backgroundPrimary;
    width: 338px;

    &:hover {
        background-color: $green;
    }

    &--finished {
        border: unset;
        background-color: $backgroundSecondary;
    }

    &__title {
        font-size: 24px;
    }

    &__link {
        text-decoration: underline;
    }
}

.players-list {

    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 48px;

    &__item {
        border: 1px solid gray;
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
    }

    &__delete {
        cursor: pointer;
    }
}