@use '../base' as *; 

.tournaments {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 24px;
    width: 100%;
}

.tournament {
    border-radius: 8px;
    padding: 16px;
    background-color: $backgroundPrimary;
    width: 338px;

    &__link {
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-decoration: none;
    }

    &:hover {
        background-color: $lightGreen;
    }

    &--finished {
        border: unset;
        background-color: $backgroundSecondary;
    }

    &__title {
        font-size: 24px;
    }
}

.players-list {

    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 48px;

    &__item {
        border: 1px solid gray;
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
    }

    &__delete {
        cursor: pointer;
    }
}


@media (max-width: $mediaMobile) {
    .tournament {
        width: 100%;
    }
}  
